*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    display: flexbox;


}
.one{
    display:flexbox;
    flex-direction: column;
    min-height: 100vh;
}
.nav .head{
    padding-left: 160px;
    color: red;
  
    
}
.nav {
  

    overflow: hidden;
   padding-left: 500px;
   border-radius: 10px;
   display: flexbox;
   background-color: turquoise;
 


}

.nav a {
    color: black;
   margin: 5px;
    float: left;
    display: flex;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }


  .nav a:hover{
     
    background-color:white;
    border-radius: 10px;
    border: 2px;
    color: red;
    border-style: solid;
    border-color:whitesmoke;
    transition: .70s;
  

  }
  .h1 h1{
    color: gray;
   margin-left: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 70px;
   font-weight: bold;

text-decoration:underline;



}
.h1 h1:hover{
    color: orangered;
    transition: 0.5s;
}



.container{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 550px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    border-radius: 50px;
    border: 30px;
}
.container .slide .items{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 30px;
}
.slide .items:nth-child(1),
.slide .items:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .items:nth-child(3){
    left: 50%;
}
.slide .items:nth-child(4){
    left: calc(50% + 220px);
}

.slide .items:nth-child(5){
    left: calc(50% + 440px);
}



.items .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;

}
.slide .items:nth-child(2) .content{
    display: block;
}
.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;

}


.content .des{
    margin: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out  0.3s 1 forwards;
  font-size: large;
}
.content button{
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #505050;
    background-color: rgb(33, 33, 33);
    color: red;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.content button:hover{
    background-color: #f5f5f5;
    transition: 0.5s;
}
@keyframes animate{

    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);

    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
  
}

.button button{
  width: 50px;
    height: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.5s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
    transition: 0.5s;
  
}

.img img{
    border-radius: 10px;
    margin-left: 40px;
    height: 450px;

}

.list1{
    
      display: flex;
      /* center horizontally */
     gap: 20px; /* space between tables */
     margin-top: 20px;
        margin-left: 30px;
}
.list1 ul li{
    margin-left: 25px;

}

table h1 {
    color:red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;

}
table button{
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #505050;
    background-color: rgb(33, 33, 33);
    color: red;
}
table button:hover{
    background-color: #f5f5f5;
    transition: 0.5s;
}
.problem{
  /* margin-left: 15px; 
    display: flexbox;   */
    border: 2px solid black;
      padding: 10px;
   
}
.problem ul li{
    margin-left: 20px;
}



.list1 button{
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #505050;
    background-color: rgb(33, 33, 33);
    color: red;

}

table.order-details{
    display: flexbox;
    align-content: center;
    background-color: white;
    color: black;
    width: 40%;
    height:250px;
  
    padding: 10px;
    border-color: black;
  border-style: ridge;
  margin-left: 500px;
  margin-top: 10px;
}

.order-details  button {
    width: 50%
}

.order-details input{
    width: 100%;
    height: 100%;
}
.contact-details{
    background-color: red;

}
.contact-details h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:color-mix(in srgb, white 70%, gray 30%);
    text-decoration: underline;
    text-decoration-color:gray ;
}

.contact{
    background-color: rgb(46, 39, 39);
    display: flexbox;
    text-align: center;
    padding-bottom: 50px;
   

}

.contact h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding-top: 50px;
    
}
.contact h3{
    gap: 3px;
    margin-top: 50px;
    color: whitesmoke;
    cursor: pointer;
}
.contact h3:hover{
    color: orangered;
    transition: 0.5s;
}


